p:first-of-type {
    color: red;
    margin: 5px;
    width: fit-content;
    border: 1px solid black;
    padding: 2rem;
}
h1 {
    color: #f66;
}
h2, h3 {
    color: #3a3;
}
h4 {
    color: #25a;
}
h5 { 
    color: #925;
}
article > p {
    margin: 10px;
    padding: 1rem; 
}